{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row aboutrowcontainer">
        <div class="col-sm-12 col-md-8">
            <p>I was born in Estonia. When I was 6, my family moved to Berlin. After graduating in Cartography in Berlin I moved to Barcelona, where I met my boyfriend. Soon (too soon) he got a job offer from London and we decided to make the move together. Then, on a sunny winterday in 2018, our lovely daughter Zoë was born. Recently she has been eager to pick up a pencil too and join me in my drawing sessions.</p>
        </div>
        <div class="col-sm-12 col-md-4 ">
            <img class="img-fluid rounded" src="https://www.lovethegarden.com/sites/default/files/content/articles/UK_wildbirds-01-robin.jpg" alt="bird" style="max-width:100%">
        </div>
    </div>
    <div class="row aboutrowcontainer">
        <div class="col-sm-12 order-2 col-md-4 order-md-1">
            <img class="img-fluid rounded" src="https://www.lovethegarden.com/sites/default/files/content/articles/UK_wildbirds-01-robin.jpg" alt="bird" style="max-width:100%">
        </div>
        <div class="col-sm-12 order-1 col-md-8 order-md-2">
            <p>I loved art from a very young age and liked drawing from time to time but never trusted my skills enough to pursue a career in art. Following tutorials on YouTube, collecting ideas and inspiration encouraged me to start drawing more often and gaining confidence. Artists I admire are Nina Cosford, ... , ... Currently, I love experimenting with mixing different media (such as pencils, markers and watercolours) and practise a loose sketchy style.</p>
        </div>
    </div>
    <div class="row aboutrowcontainer">
        <div class="col-sm-12 col-md-8">
            <p>When I'm not busy with my daughter or work, I also like discovering new places or walking in nature. During these I make sure to take my camera with me as I have a passion for photography and really enjoy caputuring a nice spot or moment.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <img class="img-fluid rounded" src="https://www.lovethegarden.com/sites/default/files/content/articles/UK_wildbirds-01-robin.jpg" alt="bird" style="max-width:100%">
        </div>
    </div>

</div>

{% endblock content %}