{% extends 'base.html' %}

{% load recaptcha3 %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block recaptcha %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='contactpage' %}
{% endblock recaptcha %}


{% block content %}

<div class="container messageform">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {% if field.name == 'message' %}
              {{ field|attr:"rows:4"|as_crispy_field }}
          {% else %}
              {{ field|as_crispy_field }}
          {% endif %}
        {% endfor %}
        <div class="centerstuff">
            <button type="submit" class="btn btn-outline-dark submitbut">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}