{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% for artwork in object_list %}
        <div class="col-sm-12 col-md-4 p-3"> <!--take 12 colums on small screens, 4 on medium screens or larger and put padding to 3.-->
            <img class="img-fluid rounded" src="{{ artwork.art.url }}" alt="{{ artwork.title}}"/>
        </div>
    {% endfor %}
</div>

<br>
<p class="text-center">
    Hi, I'm Julia and I make art. I love drawing and painting with watercolours, trying out new techniques and working with different materials.
    <br>
    I hope you enjoy <a class="nounderline" href="{% url 'artwork_list' %}">my artworks</a> and feel free to <a class="nounderline" href="{% url 'contact' %}">reach out</a> to me - I'm keen to hear from you!
</p>

{% endblock content %}

